*{
  box-sizing: border-box;
}

h4{
  text-align: center;
}

ul{
  list-style-type:none;
}
 .nav-bar ul{
  display: flex;
  justify-content: space-around;
}

.nav-button{
  align-self:center;
}
#headshot img{
  width:100px;
  height:100px;
  border-radius: 50%;
  display: block;
  margin:auto;
}
#headshot p, #headshot i{
  text-align: center;
}

#about{
  display: flex;
}
#about div{
  /*border: 2px solid blue;*/
  width: 50%;
  padding: 0 20px;
}
.education{
  padding: 0 10px;
}
.education p{
  padding: 0 70px;
  line-height: 10px;
}
.education dd{
  line-height: 7px;
  padding-bottom: 12px;
}
.education dt{
  float: left;
  clear: left;
  width:95px;
 line-height: 7px;
}
#experience{
  /*width:100%;*/
  border: 1px solid blue;
}
.job{
  /*border: 1px solid red;*/
  display: flex;
  align-items: center;
  /*width:49%;*/
}
h4{
  text-align: left;
}

.job div{
  /*border: 1px solid blue;*/
  margin-left: 10px;
  padding-left: 10px;
}
.job div:first-child{
  width: 4.250em;
  height:4.250em;
  border: 0.063em solid black;
  border-radius: 50%;
  text-align: center;
  padding-top: 7px;
  margin-left: 10px;
}
.mid{
  display: inline-block;
  width:49%;
}
.progress{
  border: 3px pink solid;
  border-radius: .250em;
  color: white;
  background-color: green;
  margin-top: 8px;
  padding-left:7px;
  line-height: .01em
}
  #html{width:100%;}
  #js{width:45%;}
  #css{width:83%;}
  #illustrator{width:35%;}
