/*------------------------------
    Browser reset
    ---------------------------*/

    /*html, body,*/div/*, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video*/{
    	margin: 0;
    	padding: 0;
    	border: 0;
    	font-size: 100%;
    	font: inherit;
    	vertical-align: baseline;
      overflow: hidden;
    }
    /* HTML5 display-role reset for older browsers */
    /*article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
    	display: block;
    }
    body {
    	line-height: 1;
    }
    ol, ul {
    	list-style: none;
    }
    blockquote, q {
    	quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
    	content: '';
    	content: none;
    }
    table {
    	border-collapse: collapse;
    	border-spacing: 0;
    }*/

/*------------------------------
    Browser rest finish
-------------------------------*/



*{
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;

}

ul{
  list-style-type:none;
}
a{
    text-decoration: none;
}

.sec1{
  /*background-color: navy;*/
  margin-bottom: 0;
}

.sec2{
  /*background-color: grey;*/
  margin-top: 0;
}
.nav-bar{
    width: 100%;
}
 .nav-bar ul{
  display: flex;
  justify-content: space-around;
}

.nav-button{
  align-self:center;
}

#headshot{

}
#headshot img{
  width:100px;
  height:100px;
  border-radius: 50%;
  display: block;
  margin:auto;
  border: 0.375em solid rgb(237,241,243);
}
#headshot p, #headshot i{
  text-align: center;
}

#about{
  display: flex;
}
#about div:first-child{
  /*border: 2px solid blue;*/
  width: 49%;
  padding: 0 20px;
}

.green{
  border-radius: 0.375em;
  text-align: center;
  padding-top: 7px;
  background-color: rgb(91,207,128);
  color:#FFF;
  }


div.bio, div.education, div.description, #skills, div.contact{
  border: 0.188em solid #EDF1F3;
  border-radius: 0.375em;
}

.education{
  padding: 0 10px;
}
.education p{
  padding: 0 70px;
  line-height: 10px;
  color:
}
.education dd{
  line-height: 7px;
  padding-bottom: 12px;
  color: #345;
}
i{
  background-color: rgb(250,244,106);
  border-radius: 0.125em;
}
strong{
    color:#345;
}
.education dt{
  float: left;
  clear: left;
  width:95px;
 line-height: 7px;
}
#experience{
  display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
.job{
  /*border: 1px solid red;*/
  display:block;
  width:49%;
  margin-top: 30px;
  background-color: #FFF;
}

.job div{
  /*border: 1px solid blue;*/
  margin-left: 10px;
  padding:0 10px;
}
.job div:first-child{
  border-radius: 0.375em;
  text-align: center;
  padding-top: 7px;
  background-color: rgb(91,207,128);
  }

.year p{
  margin: 1px 0;
  color: #FFF;
}
.year:hover{
  cursor: pointer;
}
.description p{
  margin: 5px 0;
  color: #345;
}

.contact {
width: 100%;
}

.contact div{
  width: 100%;
  vertical-align: middle;
}

.mid{
  /*border:1px solid pink;*/
  display: flex;
  width:100%;
}



#skills{
  padding: 7px;
}

#skills h4{
  margin-bottom: 0;
}

.box{
  width: 50%;
}

.progress{
  width:100%;
  border-radius: .250em;
  background-color: gray;
  /*padding-left:7px;*/
  height: 15px;
  margin-bottom: 8px;
  }

.percent{
  background-color: rgb(91,207,128);
  height:15px;
  border-radius: .250em;
  }

  #html{
    width:100%;
  }
  #js{width:45%;}
  #css{width:83%;}
  #illustrator{width:35%;}
.soft{width:100%}


.social-bar div{
  display: block;
}

div.icon{
  width:30%;
text-align: center;
}

  .social-bar img{
    width: 50px;
    height: 40px;
    margin:5px;
  }

  h3{
    text-align: center;
    color: #345;
  }
  h4{
    /*text-align: left;*/
    color: #345;
    margin: 10px 0;
    text-align: left;
    }
  h5{
    color:#C9D5D6;
    margin: 10px 0;
  }

  /*-----------------------------------
        Form Styling
  ------------------------------------*/


.form-style{
    font-family: 'Open Sans Condensed', arial, sans;
    width: 500px;
    padding: 30px;
    background: #FFFFFF;
    /*margin: 50px auto;*/
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
    border:

}
.form-style h2{
    background: #4D4D4D;
    text-transform: uppercase;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #797979;
    font-size: 18px;
    font-weight: 100;
    padding: 20px;
    margin: -30px -30px 30px -30px;
}
.form-style input[type="text"],
.form-style input[type="date"],
.form-style input[type="datetime"],
.form-style input[type="email"],
.form-style input[type="number"],
.form-style input[type="search"],
.form-style input[type="time"],
.form-style input[type="url"],
.form-style input[type="password"],
.form-style textarea,
.form-style select
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}
.form-style textarea{
    resize:none;
    overflow: hidden;
}
.form-style input[type="button"],
.form-style input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}
.form-style input[type="button"]:hover,
.form-style input[type="submit"]:hover {
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
    background-color:#34CACA;
}
